.my-nav{
	background:#90bcec;
}
.my-nav .navbar{
	margin: 0;
}
.my-nav .navbar-brand{
	color:#fff;
	font-size: 20px;
}
.my-nav .navbar-brand:hover{
	color:#fff;
	/*text-decoration: underline;
	*/
}


.my-nav .search{
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;

}
.my-nav .search .input-box{
	color:#fff;
	padding:5px 15px 5px 15px;
	background: rgba(0,0,0,0.18);
	height:32px;
	border: 0;
	border-radius:8px;
	text-align: right;
	width:230px;
	transition: width 0.5s ,background 0.5s;

}
.my-nav .search .input-box::-webkit-input-placeholder { color:rgba(255,255,255,0.7); }
.my-nav .search .input-box:focus{
	background: rgba(0,0,0,0.25); 
	width:320px;
	outline:none;
	
}