<link rel="stylesheet" th:href="@{/css/sub/profile.css}" />
<div class="profile">
	<div class="row">
		
		<div class="col-xs-4 col-sm-12">
			<div class="row">
				<img id="head_img" th:src="@{/img/profile/head_img.jpg}"/>
			</div>
		</div>
		
		<!-- 小屏幕面板 -->
		<div class="xs-info-panel col-xs-8 hidden-sm hidden-md hidden-lg">
			<div class="xs-name">Smallmin</div>
			<div id="my-line"></div>
			<div class="row">
				<div class="col-xs-12 xs-info">
					<div class="info has_border">
						<div class="info_number">640922</div>
						<div class="info_detail">访问 ></div>
					</div>
					<div class="info has_border has_padding">
						<div class="info_number">123</div>
						<div class="info_detail">文章 ></div>
					</div>
					<div class="info has_border has_padding">
						<div class="info_number">65</div>
						<div class="info_detail">绘画 ></div>
					</div>
					<div class="info has_padding">
						<div class="info_number">156</div>
						<div class="info_detail">粉丝 ~</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hidden-xs row">
		<div class="row">
			<div class="name col-xs-12">大哲</div>
		</div>
		<div class="row">
			
			

			<div>
				个人邮箱: 110120130@qq.com <br/>
				Github地址: github.com/大哲 <br/>
				
			</div>
			
			<div class="infos">
				<div class="pc-info col-sm-4 col-md-4 col-lg-4">
					<div class="detail fw hidden-sm">访问</div>
					<div class="detail fw hidden-md hidden-lg">访</div>
					<div class="number ">65536</div>
				</div>
				<div class="pc-info col-sm-4 col-md-4 col-lg-4">
					<div class="detail fw hidden-sm">文章</div>
					<div class="detail fw hidden-md hidden-lg">文</div>
					<div class="number ">128</div>
				</div>
				<div class="pc-info col-sm-4 col-md-4 col-lg-4">
					<div class="detail fw hidden-sm">绘画</div>
					<div class="detail fw hidden-md hidden-lg">绘</div>
					<div class="number ">64</div>
				</div>
				<div class="pc-info col-sm-4 col-md-4 col-lg-4">
					<div class="detail fw hidden-sm">粉丝</div>
					<div class="detail fw hidden-md hidden-lg">粉</div>
					<div class="number ">996</div>
				</div>
				<div class="pc-info col-sm-4 col-md-4 col-lg-4">
					<div class="detail fw hidden-sm">评论</div>
					<div class="detail fw hidden-md hidden-lg">评</div>
					<div class="number ">233</div>
				</div>
				<div class="pc-info col-sm-4 col-md-4 col-lg-4">
					<div class="detail fw hidden-sm">点赞</div>
					<div class="detail fw hidden-md hidden-lg">赞</div>
					<div class="number ">666</div>
				</div>
				
				<div>
					<h3>热门文章</h3>
				</div>
					
				<div>
					<h3>近期评论</h3>
				</div>

				
			</div>
		</div>
	</div>
	
</div>