<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SmllMin:Editor</title>
	<link th:include="/sub/headfile" />
	<link rel="stylesheet" th:href="@{/css/editor/wangEditor.css}" />
	<link rel="stylesheet" th:href="@{/css/editor/code_github.css}" />
	<script th:src="@{/js/editor/wangEditor.js}"></script>
	<script th:src="@{/js/editor/custom-menu.js}"></script>
	
	<style type="text/css">
		#editor-trigger {
			height: 600px;
			/*max-height: 500px;*/
		}
		input {
			font-size: 18px;
			width: 1000px;
		}
	</style>
</head>


<body>
	<div th:include="/sub/nav"></div>

	<div class="container">
		<h1>文章编辑器</h1>

		<div style="font-size: 20px;">
			标题: <input type="text" id="title" />
		</div>

		<div style="font-size: 20px;">
			简介: <input type="text" id="introduction" />
		</div>

		<div class="wangEditor-container">
			<div id="editor-trigger">
			</div>
		</div>


		<button id="insert" style="margin: 20px 0 0 0; padding: 10px;">插入当前文章</button>
		<a href="/preview">
			<button style="margin: 20px 0 0 10px; padding: 10px;">查看最新文章</button>
		</a>
	</div>
	

	<div th:include="/sub/tail"></div>

	
	<script type="text/javascript">
		var editor = new wangEditor('editor-trigger');

		editor.create();

		$('#insert').click(function () {
			var panel_html = editor.$txt.html();
			if (panel_html.length > 1920000)
				alert("    源码过大，检查是否上传了过大或过多的图片，图片总大小1M左右是可以接受的");
			//alert(panel_html.length);
			$.post("/api/topic", {
				"content": panel_html,
				"title": $('#title').val(),
				"introduction": $('#introduction').val(),
			});
			//alert(editor.$txt.html());
		});
	</script>
</body>

</html>