<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	<head>
		<title>SmllMin::Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="utf-8"/>
		<link th:include="/sub/headfile"/>
		<link rel="stylesheet" th:href="@{/css/index.css}" />
	</head>
	
	<body>
		<div th:include="/sub/nav"></div>
		<div class="container">
			<div class="row">
				<div class="myleft col-xs-12 col-sm-2 col-md-2 col-lg-2">
					<div th:include="/sub/profile"></div>
				</div>
				<div class="myright col-xs-12 col-sm-10 col-md-10 col-lg-10" >
					<div th:utext='${searchKey}'> </div>
					<div th:utext='${pageTopics}'></div>
					<div th:utext='${pageSelect}'></div>
					
				</div>
			</div>
			
			<div class= "row">
				<div class = "friends">
					
					<h3>友情链接</h3>
					<div class= "row">
						zxcljm.com  ringo.com  wahaha.com  yixixi.com
					</div>

				</div>

			</div>
			
		</div>
		
		<div th:include="/sub/tail"></div>

		
		
	</body>
</html>

<style>
	.friends{
		text-align: center;
	}
</style>