<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SmllMin:Editor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:include="sub/headfile"/>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/editor/wangEditor.css}" />
<link rel="stylesheet" th:href="@{css/editor/code_github.css}" />
<script th:src="@{js/cos/cos-js-sdk-v4.js}"></script>
<script th:src="@{js/cos/testCOS.js}"></script>


</head>

<body style="padding: 0 20px;">
	<input type="file" id="files" style="display:none" onchange="wahaha();"/>
    <input type="button" id="import" value="导入"/>
    <input type="button" id="upload" value="上传"/>
    
	<div class="test1"></div>
	<div class="auth" th:utext='${auth}'></div>
	
	
</body>



</html>